<h1>Dashboards</h1>

<%= form_for @post do |form| %>
  <%= form.fields_for :content do |content_form| %>
    <%= content_form.text_field :body, placeholder: "Post here!", required: true %>
  <% end %>
  <%= form.submit "Post" %>
<% end %>

<%= render @posts %>
